@CHARSET "UTF-8";
/* RESET START */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}

/* remember to define visible focus styles!
:focus {
	outline: ?????;
} */

/* remember to highlight inserts somehow! */
ins {
	text-decoration: none;
}
del {
	text-decoration: line-through;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}
/* RESET END */
/* clear fixes start */
.clear {
    clear: both;
    line-height: 0;
}
.clearfix:after {
    clear: both;
    content: ".";
    display: block;
    height: 0;
    visibility: hidden;
}
.clearfix {
}
* html .clearfix {
    height: 1%;
}
.clearfix {
    display: block;
}
/* clear fixes end */

/* Form start */
form dt {
    margin-bottom: 3px;
}
	form dt label {
    	font-weight: bold;
    	margin-bottom: 5px;
	}
form dd {
    margin-bottom: 10px;
}
	form dd label {
    	font-weight: bold;
    	margin-bottom: 5px;
	}
	input.inputText, input.inputPassword, input[type="text"], input[type="password"] {
	    width: 100%;
		border: 1px solid #bbbbbb;
	}

	select {
		border: 1px solid #bbbbbb;
		width: 100%;
	}

	textarea {
		font-size: 1em;
		width: 100%;
		border: 1px solid #bbbbbb;
		height:60px;
	}
/* Form end */

.hidden {
	display: none;
}


a:link {color:#4c4c4c;}
a:visited {color:#4c4c4c;}
a:hover {color:#4c4c4c;}
a:active {color:#4c4c4c;} 
/* layout start */
html {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 28px;
	color: #4c4c4c;
	overflow-y: scroll;
}

h1 {
	font-size: 1.7em;
}
h2 {
	font-size: 1.5em;
}
h3 {
	font-size: 1.3em;
}
h4 {
	font-size: 1.1em;
}

h1, h2, h3, h4, h5, h6 {
	font-weight: bold;
	margin-bottom: 10px;
}

p {
	margin-bottom:15px;
}

#main {
	width:976px;
	margin: 0 auto;
}

#header {
	text-align: center;
	padding: 20px;
}

#content {
	padding: 15px;
	min-height:400px;
	border: 1px solid #ddd;
	border-left-width: 0;
    border-right-width: 0;
}

	#content ul, #content ol {
		padding-left: 20px;
		margin-bottom: 10px;
		list-style-type: circle;
	}
	#content ol {
		list-style-type: decimal;
	}
	
.developedBy {
	margin-top: 10px;
	text-align: right;
	font-size: 0.9em;
}
/* layout end */
/* hello world start */
#logContainer {
	height: 100px;
	border: 1px solid #aaa;
	overflow-y: scroll;
}
#log dt {
	width: 20%;
	float:left;
	font-style: italic;
}
#log dd {
	width: 80%;
	float:left;
}
/* hello world end */

/* ping - pong start */
#default_example_ping-pong #logContainer{
	height: 400px;
}
/* ping - pong end */

/* support start */

#chatContainer {
	height: 305px;
	border: 1px solid #aaa;
	padding:5px;
	margin-bottom: 20px;
}
#chat {
	overflow-y: scroll;
	height: 175px;
	border: 1px solid #aaa;
	margin-bottom: 15px;
}
#chat dt {
	width: 25%;
	float:left;
	font-style: italic;
	margin-bottom:10px;
}
#chat dd {
	width: 75%;
	float:left;
	margin-bottom:10px;
}
/* support end */

/* statistic start */
#default_example_statistic-admin li {
	display:inline;
	padding:0 10px;
}
/* statistic end */